{% extends 'index/base.html' %}
{% block content %}
    <h2>Enter new password</h2>
    <form action="" method="post" class="form-group col-lg-6 col-md-8">
        {% csrf_token %}
        <table class="table">
            <tr class="form-control row">
                <td>{{ form.new_password1.label_tag }}</td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr class="form-control row">
                <td>{{ form.new_password2.label_tag }}</td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success btn-md mb-2 mt-2">Change password</button>
    </form>
    
{% endblock content %}