{% extends 'index/base.html' %}

{% block content %}
    <h2>Password reset</h2>
    <p>Enter your email to recover your password</p>
    <hr class="mr-md-auto">
    <form action="" method="post" class="form-group">
    {% csrf_token %}
        <span class="form-control">{{ form.email.label_tag }}
            <span class="ml-2 span-input">{{ form.email }}</span></span>
        <span>{{ form.email.errors }}</span>
        <button class="btn btn-primary btn-md mb-2 mt-2" type="submit">Send</button>
    </form>
{% endblock content %}