cffi~=1.15.1
Pillow~=10.1.0
pip~=23.3.1
attrs~=23.1.0
pytz~=2021.1
Babel~=2.13.1
setuptools~=68.2.2
Django~=5.0.2
asgiref~=3.7.2
sqlparse~=0.4.1
psycopg~=3.1.12
psycopg2~=2.9.9
colorama~=0.4.6
requests~=2.31.0
qrcode~=7.4.2
qrplatba~=1.1.1
reportlab~=4.0.7
django-crispy-forms~=1.14.0
InvoiceGenerator~=1.1.0
django-bootstrap4~=23.2
crispy-bootstrap4~=2023.1
django-multiupload~=0.6.1

telebot~=0.0.5