

.span-input input{
    width: 23vw;
}
@media (max-width: 766px){
    .span-input input{
        width: 100%;
    }
}
@media (max-width: 500px){
    .span-input input{
        width: 100%;
    }
}

.form-signin {
  max-width: 440px;
  padding: 1rem;
}
/*#hint_id_username {*/
/*    font-size: .875em;*/
/*}*/
#hint_id_username,
#hint_id_password1 ul li,
#hint_id_password2 {
    font-size: .875em;
}
.text_description {
    text-align: justify;
}