{% extends 'index/base.html' %}
{% load group_tag %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
            <div class="">
                <h2>Order summary</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order.products.all %}
                            <tr>
                                <td>{{ product.product.name }}</td>
                                <td>{{ product.product.price }}</td>
                                <td><a class="text-decoration-none" href="{% url 'add_to_cart' product.product.pk %}">
                                        <img src="{% static 'image/plus.png' %}" alt="Plus" width="25px">
                                    </a>
                                    {{ product.quantity }}
                                    <a class="text-decoration-none" href="{% url 'remove_single_product_from_cart' product.product.pk %}">
                                        <img src="{% static 'image/minus.png' %}" alt="Minus" width="25px">
                                    </a>
                                </td>
                                <td class="float-right">$ {{ product.get_total_price }}</td>
                                <td>
                                    <a class="text-decoration-none float-end" href="{% url 'remove_from_cart' product.product.pk %}">
                                        <img src="{% static 'image/trash.png' %}" alt="Trash" width="30px">
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Cart is empty</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <a href="/" class="btn btn-primary float-end">Continue shopping</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if order.get_total %}
                            <tr>
                                <td colspan="3"><b>Total price</b></td>
                                <td colspan="2"><b>$ {{ order.get_total }}</b></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <a href="/checkout/" class="btn btn-warning float-end ml-2">Buy now</a>
                                    <a href="/" class="btn btn-primary float-start">Continue shopping</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock content %}