{% extends 'index/base.html' %}

{% block content %}
    <h2 class="h2">FAQs</h2>
    <div class="container">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">What are the delivery times for furniture?</a>
                <div class="dropdown-menu col-lg-6 col-md-9 col-sm-12">
                  <div class="dropdown-item text-wrap text-center">Typically, the delivery time for furniture is between 2 to 4 weeks
                      depending on product availability and your location.</div>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">How does the furniture assembly process work?</a>
                <div class="dropdown-menu col-lg-6 col-md-9 col-sm-12">
                  <div class="dropdown-item text-wrap text-center">Furniture may be delivered fully assembled or as a self-assembly kit.
                      All necessary instructions and tools are usually included.</div>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">Can I return or exchange furniture if it doesn't fit?</a>
                <div class="dropdown-menu col-lg-6 col-md-9 col-sm-12">
                  <div class="dropdown-item text-wrap text-center">Yes, we accept furniture returns or exchanges within a certain period of time
                      (usually 14 or 30 days) from the purchase date, subject to specific conditions. See our page
                      <a class="text-decoration-none" href="{% url 'contacts' %}">Contacts</a></div>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">How to care for furniture to ensure its longevity?</a>
                <div class="dropdown-menu col-lg-6 col-md-9 col-sm-12">
                  <div class="dropdown-item text-wrap text-center">Regular cleaning and the use of specific care products for different materials
                      will help maintain the furniture in good condition.</div>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-bs-toggle="dropdown" aria-expanded="false">Do you offer warranties on furniture?</a>
                <div class="dropdown-menu col-lg-6 col-md-9 col-sm-12">
                  <div class="dropdown-item text-wrap text-center">Yes, we typically provide manufacturer warranties for furniture for a certain
                      period of time. Warranty terms may vary depending on the product. Check our
                      <a class="text-decoration-none" href="{% url 'contacts' %}">page</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
