{% extends 'index/base.html' %}
{% load group_tag %}

{% block content %}
    <form class="form-inline ml-4 my-2 my-lg-1 mt-2">
        <div class="form-group d-flex">
            <input type="search" class="form-control me-sm-2 mb-2 mt-2" placeholder="Search Product" aria-label="Search"
                name="search" value="{{ search_phrase }}">
            <button type="submit" class="btn btn-primary mb-2 mt-2">Search</button>
        </div>
    </form>
    <form class="form-inline ml-4 my-2 my-lg-1 mt-2">
        <div class="form-group d-flex">
            <input type="search" class="form-control me-sm-2 mb-2 mt-2" placeholder="Search Manufacturer" aria-label="Search"
                name="search_manufacturer" value="{{ search_manufacturer }}">
            <button type="submit" class="btn btn-primary mb-2 mt-2">Search</button>
        </div>
    </form>
    <hr class="mt-0 mb-2">
    {% if request.user|group_tag:"Provider" %}
        <a href="{% url 'new_product' %}" class="btn btn-success mb-2">Add Product</a>
        <hr class="mt-0 mb-2">
    {% endif %}
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 mb-3 text-center">
        {% for product in product_list %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                            <a class="text-decoration-none" href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="">
                            {% if product.photo %}
                                <a href="{% url 'product_detail' pk=product.pk %}">
                                    <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="100%" height="auto">
                                </a>
                            {% endif %}
                        </div>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><h4>Manufacturer: {{ product.manufacturer }}</h4></li>
                            <li class="date"><h5>{{ product.created_date }}</h5></li>
                            <li>
                                <a class="text-decoration-none" href="{% url 'add_to_cart' pk=product.pk %}">
                                    <button class="btn btn-outline-primary mt-2 pl-5">
                                        <b>$ {{ product.price|linebreaksbr }}</b>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <nav aria-label="Page navigation" class="pagination table-responsive mb-2">
        <ul class="pagination pagination-sm flex-sm-wrap">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page=1"><< </a></li>
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">< </a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"> ></a></li>
                <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}"> >></a></li>
            {% endif %}
        </ul>
    </nav>
    <span class="current">
        {% if page_obj.num_pages != None %}
        {% else %}
            Page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}
        {% endif %}
    </span>
{% endblock content %}

