{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{% load group_tag %}
{% load static %}

{% block content %}
    <ul class="user"></ul>
    <div class="product container">
        <h1 class="h1">{{ product.name }}</h1>
        <h4 class="h4">{{ product.manufacturer }}</h4>
        <h6 class="h6">{{ product.created_date }}</h6>
        {% if product.attachment_set.all %}
        <div class="col-lg-6 col-md-8 col-12">
            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for photo in product.attachment_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ photo.additional_photos.url }}" alt="{{ product.name }}">
                        </div>
                    {% endfor %}
        {% else %}
            <p>No additional photos available.</p>
        {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <img src="{% static 'image/left.png' %}" alt="Left" width="40px">
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <img src="{% static 'image/right.png' %}" alt="Right" width="40px">
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-8">
            <p class="text_description">{{ product.description|linebreaksbr }}</p>
            <p><b>$ {{ product.price|linebreaksbr }}</b></p>
            <hr class="mb-2">
        </div>

    </div>
    <div>
        {% if request.user|group_tag:"Provider" %}
            <a href="{% url 'new_product' %}" class="btn btn-success btn-md my-0 mb-2 p">New</a>
            {% if user == product.manufacturer %}
                <a href="{% url 'edit_product' pk=product.pk %}" class="btn btn-success btn-md my-0 mb-2 p">Edit</a>
                <a href="{% url 'delete_product' pk=product.pk %}" class="btn btn-danger btn-md my-0 mb-2 p">Delete</a>
            {% endif %}
        {% endif %}
        {% if request.user|group_tag:"Customer" %}
            <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-primary btn-md my-0 mb-2 p">Add to cart</a>
            <a href="{% url 'remove_from_cart' pk=product.pk %}" class="btn btn-danger btn-md mb-2 my-0 p">Remove from cart</a>
        {% endif %}
    </div>
{% endblock content %}