{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{#{% load static %}#}
{% load group_tag %}

{% block content %}
    <ul class="user"></ul>
    <div class="product">
        <h1>{{ product.name }}</h1>
        <h4>{{ product.manufacturer }}</h4>
        <h6><div>{{ product.created_date }}</div></h6>
        {% if product.photo %}
            <img src="{{ product.photo.url }}" alt="" class="img-fluid">
        {% endif %}


        <p>{{ product.description|linebreaksbr }}</p>
        <p><b>$ {{ product.price|linebreaksbr }}</b></p>
        {% if request.user|group_tag:"Provider" %}
            <a href="{% url 'new_product' %}" class="btn btn-success btn-md my-0 mb-2 p">New</a>
            {% if user == product.manufacturer %}
                <a href="{% url 'edit_product' pk=product.pk %}" class="btn btn-success btn-md my-0 mb-2 p">Edit</a>
                <a href="{% url 'delete_product' pk=product.pk %}" class="btn btn-danger btn-md my-0 mb-2 p">Delete</a>
            {% endif %}
        {% endif %}
        {% if request.user|group_tag:"Customer" %}
            <!-- Добавление комментария -->
{#            <form method="POST" action="">  <!-- {% url 'comment' id=product.id %} -->#}
{#              {% csrf_token %}#}
{#                {{ form_comment|crispy }}#}
{#              <button type="submit">Добавить комментарий</button>#}
{#            </form>#}

            <!-- Отображение списка комментариев -->
{#            {% for comment in comments_all %}#}
{#              <div>{{ comment.author }}: {{ comment.text }}</div>#}
{#            {% empty %}#}
{#              <p>Комментариев пока нет.</p>#}
{#            {% endfor %}#}
            <a href="{% url 'add_to_cart' pk=product.pk %}" class="btn btn-primary btn-md my-0 mb-2 p">Add to cart
                <i class="fa fa-shopping-cart ml-1"></i></a>
            <a href="{% url 'remove_from_cart' pk=product.pk %}" class="btn btn-danger btn-md mb-2 my-0 p">Remove from cart</a>
        {% endif %}
    </div>
{% endblock content %}


